doctype html
html(lang="en")
    head
        title Loco Achievements
        style.
            @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
            * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            }
            :root {
            font-family: "Open Sans", sans-serif;
            }
            .container {
            width: 312px;
            height: 312px;
            position: relative;
            color: #fff;
            }
            .bg-image {
            position: absolute;
            z-index: -1;
            }
            .image1 {
            position: absolute;
            z-index: 20;
            top: 71px;
            left: 43px;
            border-radius: 50%;
            }
            .image2 {
            top: 71px;
            left: 196px;
            position: absolute;
            z-index: 20;
            border-radius: 50%;
            }
            .image3 {
            position: absolute;
            z-index: 20;
            top: 31px;
            left: 88px;
            }
            .title1 {
            font-size: 20px;
            line-height: 25px;
            text-align: center;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            padding-top: 164px;
            }
            .title2 {
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            }
            .title3 {
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            }
            .mt-8 {
            margin-top: 8px;
            }
            .mt-4 {
            margin-top: 4px;
            }
    body
        div.container
            img(src="https://stage2.loco.gg/_next/image?url=%2Fleaderboard%2FachievementBg.png&w=640&q=50", alt="achievements", width='312px', height='312px', class='bg-image')
            img(src=streamer_image, alt="image 1", class='image1', width='72px', height='72px')
            img(src=user_image, alt="image 2", class='image2', width='72px', height='72px')
            img(src=trophy_image, alt="image 3", class='image3', width='120px', height='128px')
            h1.title1 woohoo!!
            p.title2.mt-8=username
            p.title3.mt-4 was #{rank} supporter of
            h3.title2.mt-4=streamer_name
            p.title3.mt-4 for #{date}
